*.pkl
*.pt
*.png
.ipynb_checkpoints/
*.ipynb_checkpoints*
GaussianNN_CGW/Model_Pipeline/TempFiles/
GaussianNN_CGW/Model_Pipeline/RemoteTempFiles/
__pycache__/

GenerateTable_CGW/**/*.fits
GenerateTable_CGW/figs/
GenerateTable_CGW/data/
GenerateTable_CGW/scratch/
